
.navbar-brand {
font-size: 3.25rem;
}
.navbar-light .navbar-nav .nav-link {
    
    font-size: 17px;
     color: #212529;
      padding-right: 2.5rem;
    padding-left: 2.5rem;
      
      
}
.navbar-expand-sm .navbar-collapse {
  
    font-size: 20px;
}

.jumbotron {
  background-color: #839fba!important;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}